# Vs code preferences
settings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp6/ex02/identify
cpp7/ex02/array
cpp8/ex00/easyfind
cpp8/ex01/span
cpp8/ex02/mutantstack
cpp0/ex00/megaphone
cpp0/ex01/phonebook
cpp1/ex00/pony
cpp1/ex01/ex01
cpp1/ex02/ex02
cpp1/ex03/ex03
cpp1/ex04/ex04
cpp1/ex05/ex05
cpp1/ex06/ex06
cpp2/ex00/ex00
