# Vs code preferences
settings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cpp6/ex02/identify
cpp7/ex02/array
cpp8/ex00/easyfind
cpp8/ex01/span
cpp8/ex02/mutantstack
cpp0/ex00/megaphone
cpp0/ex01/phonebook
cpp1/ex00/pony
cpp1/ex01/bin
cpp1/ex02/bin
cpp1/ex03/bin
cpp1/ex04/bin
cpp1/ex05/bin
cpp1/ex06/bin
cpp2/ex00/bin
cpp2/ex01/bin
cpp3/ex00/bin
cpp4/ex00/bin
cpp3/ex01/bin
cpp4/ex02/bin
cpp4/ex03/bin
cpp5/ex01/bin
cpp5/ex02/maison_shrubbery
.gitignore
cpp5/ex02/bin
cpp5/ex03/bin
cpp5/ex03/maison_shrubbery
cpp6/ex00/convert
cpp6/ex01/serial
cpp7/ex00/whatever
cpp7/ex01/whatever
cpp7/ex01/iter
cpp3/ex02/bin
cpp3/ex03/bin
cpp3/ex04/bin
cpp0/ex01/bin
cpp1/ex07/bin
cpp1/ex07/test1.replace
